$main-color: #f1faee;
$secondary-color: #a8dadc;
$accent-color: #457b9d;
$dark-accent-color: #1d3557;
$important-color: #e63946;

$header-size: 48px;
$subheader-size: 24px;
$section-text-size: 20px;
$text-size: 16px;

$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 20px;
$padding-huge: 30px;

$screen-small: 640px;
$screen-medium: 769px;
$screen-large: 1024px;

@font-face {
    font-family: "Comfortaa";
    src: url("./fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "RobotoMono";
    src: url("./fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NatoSansAvestan";
    src: url("./fonts/NotoSansAvestan-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "NatoSansAvestan", sans-serif;
    font-size: $text-size;
    color: $accent-color;
}

@media only screen and (min-width: 0) {
    header {
        position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: 0px 0px 5px gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $padding-small 0 $padding-small 0;
        background-color: $main-color;

        div {
            width: 100%;
            max-width: $screen-large;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            nav {
                width: 100%;
                max-width: $screen-small;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

    section {
        padding: $padding-huge $padding-huge $padding-huge $padding-huge;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &#me {
            flex-direction: row;
            padding-bottom: 0;
            flex-wrap: wrap-reverse;
            gap: $padding-huge;

            img {
                width: 100%;
                max-width: 430px;
            }

            div {
                p {
                    padding-top: $padding-medium;
                    max-width: 430px;
                }
                div {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: $padding-medium;
                    flex-direction: row;
                    padding-top: $padding-medium;
                    flex-wrap: wrap;
                }
            }
        }

        &#skills {
            div {
                padding-top: $padding-small;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: $padding-huge;
                width: 100%;
                max-width: $screen-large;

                div {
                    width: 100%;
                    max-width: 250px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    gap: $padding-medium;

                    ul {
                        width: 100%;
                    }
                }
            }
        }

        &#edu {
            div {
                padding-top: $padding-large;
                max-width: $screen-large;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                img {
                    width: 100%;
                    max-width: 350px;
                    border-radius: 30px;
                }

                div {
                    padding-left: $padding-huge;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    max-width: 650px;
                    gap: $padding-small;

                    h2 {
                        text-align: start;
                        width: 100%;
                    }

                    ul {
                        padding-left: $padding-medium;
                    }
                }
            }
        }

        &#contact {
            div {
                padding-top: $padding-large;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex-wrap: wrap;
                gap: $padding-medium;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: $padding-medium;
                    font-size: $section-text-size;
                }
            }
        }

        &#me, &#edu, &#contact {
            background-color: $secondary-color;
        }

        &#skills, &#projects {
            background-color: $main-color;
        }
    }

    a {
        color: $accent-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $dark-accent-color;
        }
    }

    h1 {
        text-align: center;
        font-family: "Comfortaa", sans-serif;
        font-size: $header-size;
    }

    h2 {
        text-align: center;
        font-family: "RobotoMono", sans-serif;
        font-size: $subheader-size;
    }

    h3 {
        text-align: start;
        font-family: "NatoSansAvestan", sans-serif;
        font-size: $text-size;
    }

    ul {
        margin-left: 0;
        padding-left: 0;

        ul {
            margin-left: $padding-large;
        }
    }

    .text-bold {
        font-weight: 900;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $text-size;
        color: $main-color;
        background-color: $accent-color;
        padding: 10px;
        text-decoration: none;
        border-radius: 10px;
        border: 2px solid $accent-color;
        gap: 5px;

        &:hover {
            background-color: $main-color;
            color: $accent-color;
            border-color: $accent-color;
        }
    }

    .anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }

    .projects {
        width: 100%;
        // max-width: $screen-large;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: $padding-large;
        padding-top: $padding-large;
        flex-wrap: wrap;
    }

    .project-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: $secondary-color;
        padding: $padding-huge;
        border-radius: 20px;     
        width: 370px;
        min-height: 450px;
        gap: $padding-small;

        p {
            padding: 0 $padding-medium 0 $padding-medium;
            text-align: justify;

            a {
                text-decoration: underline;
            }
        }

        
    }

    .tags {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        span {
            font-size: 14px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $main-color;
            border-radius: 10px;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $padding-medium;
    }
}

@media only screen and (min-width: $screen-small) {

}

@media only screen and (min-width: $screen-medium) {

}

@media only screen and (min-width: $screen-large) {

}